body {
    background-color: black;
    color: white;
    font-size: larger;
    font-family: 'Papyrus', fantasy;
    font-weight: bold;
}

#decks {
    display: grid, inline-grid;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
}
.input {
    font-family: 'Papyrus', fantasy;
}

.eachDeckDiv{
    display: flex;
}
.eachCardDiv {
    flex-direction: row;
}
/* div{
    border: red solid 2px;
} */

#top {
    text-align: center;
}

#left-div {
    height: 25vh;
    width: 49%;
    float: left;
}

#quick-add {
    width: 300px;
}
#addNewDeck {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

.eachCardDiv {
    display: flex;
    flex-direction: row;
}

.vl {
    height: 550px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 1;
}

#right-div {
    height: 25;
    width: 49%;
    float: right;
}

#hover-info h2 {
    font-family: 'Nanum Gothic', sans-serif;
}

#list-div p:hover {
    filter: drop-shadow(0 0 0.75rem white);
}

#decks p:hover {
    filter: drop-shadow(0 0 0.75rem white);
}

.logo {
    width: 300px;
    height: auto;
    float: center;
}

.logo2 {
    width: 150px;
    height: auto;
    float: left;
}

#detail-image {
    width: 300px;
    height: auto;
}

#Card-info {
    text-align: center;
    font-size: 25px;
    height: 50px;
}

#hover-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hover-card-name {
    text-align: right;
}

#hover-card-info {
    text-align: right;
}

/* Search form size CSS */
#search-cards {
    width: 200px;
}

/* Input and button CSS */
input[type=text],
button[type=submit] {
    display: inline-block;
    border: 0;
    width: 100%;
    color: black;
    background: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Papyrus', fantasy;
    box-sizing: border-box;
    margin-top: 10px;
}

/* Button CSS */
button[type=submit] {
    display: inline-block;
    border: 0;
    width: 100%;
    color: black;
    background: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Papyrus', fantasy;
    box-sizing: border-box;
    margin-top: 10px;
    font-weight: 700;
}
.eachCardAmount {
    color: gold;
    padding: 0 10px 10px 10px;
    font-size: 30px;
    margin-top: 10px;
}
.eachCardAmountInput {
    width: 100px;
    height: 50px;
    margin: 0 10px 0 0;
    font-size: 25px;
}