body {
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
#top {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}
#decks {
    margin: 20px 0px 20px 0px;
    height: fit-content;
    width: 100%;
}
#left-div {
    height: 25vh;
    width: 50%;
    float: left
}
.vl {
    height: 550px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 1;
  }
#right-div {
    height: 25;
    width: 50%;
    float: right;
}
#hover-info h2{
    font-family: 'Nanum Gothic', sans-serif;
}
#list-div p:hover {
    filter: drop-shadow(0 0 0.75rem white)
}
#decks p:hover {
    filter: drop-shadow(0 0 0.75rem white)
}
.logo {
    margin: 20px 0px 20px 0px;
    width: 300px;
    height: auto;
}

#movie-list {
    display:flex;
    justify-content: center;
}

#movie-list img {
    width: 100px;
    height: auto;
    margin: 7px;
}

#movie-list img:hover {
    filter: drop-shadow(0 0 0.75rem white)
}

#movie-info {
    display: flex;
    height: 400px;
    justify-content: center;
    margin-top: 25px;
}

#movie-info img {
    height: auto;
    margin: 7px;
    filter: drop-shadow(0 0 1em #c93642)
}

#movie-info div {
    width: 500px;
    margin-left: 20px;
}

#movie-info div p {
    font-family: 'Nanum Gothic', sans-serif;
}
/* Search form size css */
form {
    width:200px;
}


/* Search field css */
input[type=text] {
    display:inline-block;
    border: 0;
    width:100%;
    color: black;
    background: white; 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
}

/* Search button css */
input[type=submit] {
    display:inline-block;
    border: 0;
    width:100%;
    color: black;
    background: white; 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
    margin-top: 10px;
}